body {
    background-color: #08172b;
    color: #fff;
}

h1 {
    font-family: 'Michroma', sans-serif;
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 20px;
}

.container {
	font-size: 36px;
	width: 100%;
	margin: auto;
	text-align: center;
}

#timer {
	font-size: 80px;
}

.question, .message {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 40px;
}

.choice {
	text-align: left;
	cursor: crosshair;
}

.choice:hover, .choice:active {
	background-color: #fff;
	color: #000;
}

button {
	font-size: 60px;
}