body {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oxygen Mono', monospace;
}

#timer {
	padding: 30px;
}

#crest {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

h1 {
    font-family: 'Michroma', sans-serif;
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 20px;
}

.container {
	font-size: 36px;
	width: 100%;
	margin: auto;
	text-align: center;
}

#timer {
	font-size: 80px;
}

.question {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 40px;
}

.message {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 40px;
}

.choice {
	text-align: center;
	cursor: crosshair;
	padding: 20px;
}

.choice:hover, .choice:active {
	background-color: #fff;
	color: #000;
}

button {
	font-family: 'Michroma', sans-serif;
	font-size: 20px;
	color: #fff;
	margin: 20px;
	padding: 10px 20px 10px 20px;
	background: #133175;
	border: none;
	cursor: crosshair;
}

.footer {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 50px;
	font-family: 'Michroma', sans-serif;
}